nav {
    margin: 0;
    height: 100vh;
    width: 18%;
    border-right: 1px solid #d8dce3;
    position: fixed;
    box-sizing: border-box;
    
}

.nav-container {
    height: 100vh;
    width: 22%;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

li {
    height: 50px;
    width: 200px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    list-style: none;
    line-height: 2;
    margin: 10px 0;
    text-decoration: none;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

li ion-icon {
    margin-right: 10px;
}

li:hover {
    background-color: rgb(219, 242, 250);
    border-radius: 100px;
}
#twitter-btn {
    display: flex;
    /* align-self: center; */
    width: 150px;
    height: 35px;
    background-color: rgb(93, 163, 243);
    border-radius: 100px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 45px;
}
#twitter-btn:hover {
    background-color: rgb(72, 137, 211);
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(93, 163, 243);
}
.logo {
    border-radius: 0;
    height: 23px;
    width: 45px;
    margin-right: 90px;
    margin-top: 10px;
    
}
.profPic{
    height: 25px;
    width: 40px;
    margin-left: -15px;
}
.placeholder {
    height: 100%;
    width: 100%;
    box-sizing: border-box; 
    
}

@media all and (max-width: 1000px){
    .hideText {
        display: none;
    }
    ul {
        margin-right: 10px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    li {
        height: 35px;
        width: 45px;
        font-size: 15pt;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
        list-style: none;
        line-height: 2;
        margin: 10px 0;
        text-decoration: none;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    #twitter-btn {
        display: flex;
        align-self: flex-end;
        width: 35px;
        height: 35px;
        background-color: rgb(93, 163, 243);
        border-radius: 100px;
        color: white;
        font-size: 15px;
        font-weight: bolder;
        margin-right: 10px;
    }
    .logo {
        border-radius: 0;
        height: 23px;
        width: 45px;
        margin-right: 0px;
        margin-top: 10px;
    }
    .placeholder {
        height: 100%;
        width: 100%;
        box-sizing: border-box; 
        
    }
}