h1, h2, img {
    display: inline;
}

.tweet-container {
    display: flex;
}

h1 {
    font-size: 15pt;
}

h2 {
    font-size: 11pt;
    padding: 0 10px;
    font-weight: 300;
}

.tweet-content {
    font-size: 12pt;
    margin-top: 0;
    /* font-weight: 300; */
}

img {
    height: 50px;
    border-radius: 50%;
    padding: 0 10px;
}

.comments-icon, .retweets-icon, .likes-icon, .share-icon {
    display: flex;
    flex-wrap: wrap;
    fill: rgb(101, 119, 134);
    width: 1.25em;
    display: inline-block;
    margin-right: 7rem;
}

.tweet-icons-list svg:hover {
    background-color: rgb(125, 224, 241);
    color: rgb(3, 168, 245);
    border-radius: 10px;
    cursor: pointer;
    background-size: 50px;
}